<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="boards"></ion-back-button>
    </ion-buttons>
    <button (click)="editBoard()" hoverlight class="title">
      <ion-title hoverlight>
        {{board?.data?.name | titlecase}}
        <ion-icon name="create"></ion-icon>
      </ion-title>
    </button>
    <ion-buttons slot="end">
      <ion-button (click)="deleteBoard()" fill="solid" color="danger">
        Excluir Projeto
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="flex half-padding hfit-content">

      <!-- INICIO DA COLUNA -->
      <div class="flex column" *ngFor="let column of columns; let i = index">

        <div class="head">
          <div class="edit-buttons">
            <span>
              <ion-button fill="clear" color="light" (click)="deleteColumn(column.id)" [disabled]="columns.length === 1" size="small">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </span>

            <button class="title" (click)="editColumn(column)" hoverlight>
              <b>{{column.data.name | uppercase}} </b>
              <ion-icon name="create"></ion-icon>
            </button>

            <span>
              <ion-button fill="clear" color="light" (click)="moveColumn(i,-1)" [disabled]="i === 0" size="small">
                <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="light" (click)="moveColumn(i,+1)" [disabled]="i === columns.length-1" size="small">
                <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
              </ion-button>
            </span>
          </div>
        </div>

        <!-- INICIO DO CARD -->
        <ion-card *ngFor="let card of cards[column.id]; let j = index" class="half-margin">
          <ion-card-content tappable (click)="openCard(card)">
            {{(card.data.title || card.data.text) | limit:40}}
          </ion-card-content>

          <!-- botoes de alterar card -->
          <div class="edit-buttons">
            <ion-button fill="clear" (click)="moveCard(i,j,-1)" [disabled]="i === 0" size="small">
              <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="deleteCard(card.id)" size="small">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="openCard(card)" size="small">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="moveCard(i,j,+1)" [disabled]="i === columns.length-1" size="small">
              <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
            </ion-button>
          </div>

        </ion-card>
        <!-- FIM DO CARD -->

        <div class="button">
          <ion-button (click)="newCard(column)">
            Nova Atividade
            <ion-icon slot="end" name="add"></ion-icon>
          </ion-button>
        </div>

      </div>
      <!-- FIM DA COLUNA -->

      <div class="ion-padding">
        <ion-button (click)="newColumn()" fill="outline">
          Novo Status
          <ion-icon slot="end" name="add"></ion-icon>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>
