button.title{
  background: none;
  font-size: inherit;
  text-align: inherit;
  color: inherit;
  ion-icon{
    pointer-events: none;
  }
}
button.title:hover{
  background: rgba(var(--ion-color-light-rgb),0.25);
}
.content{
  height: 100%;
  width: 100%;
  overflow: auto;
}
.column{
  width: 17em;
  .head{
    background: rgba(var(--ion-color-primary-rgb), calc(6/10));
    color: var(--ion-color-primary-contrast);
    border: 2px solid var(--ion-color-light);
    text-align: center;
    .edit-buttons{
      position: relative;
      justify-content: space-between;
      ion-button{
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
      }
    }
  }
  ion-card{
    ion-card-content{
      font-family: monospace;
      font-size: 1em;
    }
    ion-button{
      position: relative;
    }
  }
  .button{
    text-align: center;
  }
  .edit-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ion-button{
      --background-hover-opacity: 0.3;
    }
  }
}
