<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kanban ({{auth?.user?.email}})</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newBoard()" fill="outline">
        Novo Projeto
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        Sair
        <ion-icon slot="end" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex wrap ion-padding">
    <ion-card *ngFor="let board of boards" class="board" tappable (click)="open(board.id)">
      <div class="boardimg"><div></div><div></div></div>
      <ion-card-header>
        <ion-card-title>{{board.data.name | titlecase}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
