.board{
  --size: 15em;
  width: var(--size);
}

.boardimg{
  background: var(--ion-color-primary);
  height: calc(var(--size) * 0.8);
  display: flex;
  div:nth-child(1){
    background: white;
    position: relative;
    top: calc(var(--size) * 0.1);
    left: calc(var(--size) * 0.1);
    width: calc(var(--size) * 0.35);
    height: calc(var(--size) * 0.35);
  }
  div:nth-child(2){
    background: white;
    position: relative;
    top: calc(var(--size) * 0.1);
    left: calc(var(--size) * 0.2);
    width: calc(var(--size) * 0.35);
    height: calc(var(--size) * 0.6);
  }
}