<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-back-button [defaultHref]="'boards/'+board_id"></app-back-button>
    </ion-buttons>    
    <ion-title>
      <span (click)="editCardTitle()">
        {{card?.data?.title || 'Sem título'}}
      </span>
      <button (click)="editCardTitle()" title="Alterar título" hoverlight class="title">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex wrap content"><div class="flex wrap half-padding">

    <section class="one flex column">
      <div class="label">Descrição da Atividade:</div>
      <ion-card class="card half-margin">
        <textarea
          [(ngModel)]="text"
          (input)="textChange()"
          placeholder="Digite aqui a descrição da Atividade..."
        ></textarea>
      </ion-card>
    </section>
    
    <section class="two flex column">
      <div class="label">Comentários:</div>
      <ion-card *ngFor="let comment of comments" class="half-margin">
        <ion-card-content>
          <div>
            <div class="comment">{{comment.data.text}}</div>
            <div>
              <ion-button fill="clear" color="danger" (click)="deleteComment(comment.id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <div class="button">
        <ion-button (click)="newComment()">
          Novo comentário
          <ion-icon slot="end" name="add"></ion-icon>
        </ion-button>
      </div>
    </section>

  </div></div>
</ion-content>
