ion-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button.title{
  background: none;
  font-size: inherit;
  text-align: inherit;
  color: inherit;
  ion-icon{
    pointer-events: none;
  }
}
button.title:hover{
  background: rgba(var(--ion-color-light-rgb),0.25);
}
.content{
  justify-content: center;
  > div{
    justify-content: center;
  }
}

section{
  width: 35em;
  max-width: calc(100vw - 1em);
  .label{
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: 1em;
    background: rgba(var(--ion-color-primary-rgb), 0.6);
    color: var(--ion-color-primary-contrast);
    border: 2px solid var(--ion-color-light);
    font-weight: bold;
  }
}
section.one{
  height: 30em;
  max-height: 80vh;
  ion-card{
    height: calc(100% - 3em);
    font-family: monospace;
    textarea{
      background-color: inherit;
      width: 100%;
      height: 100%;
      border: 0;
      resize: none;
      font-size: 1.1em;
      padding: 1em;
    }
  }
}
section.two{
  ion-card{
    ion-card-content > div{
      display: flex;
      justify-content: space-between;
      ion-button{
        --padding-end: 0;
        --padding-start: 0;
      }
      .comment{
        user-select: text;
      }
    }
  }
}
div.button{
  text-align: center;
}